fastapi
uvicorn[standard]
jinja2
pydantic
numpy
pandas
polars
scikit-learn
matplotlib
seaborn
pyarrow
sqlalchemy[asyncio]
asyncpg
qdrant-client
sentence-transformers
torch
bcrypt
python-jose[cryptography]
redis



